@import '~antd/dist/antd.css';
@import url("https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap");

body {

  background-image: url("https://i.imgur.com/sjinFJb.png");
  background-size: 100%;
  background-repeat: repeat;
  font-family: 'Noto Sans JP', sans-serif;
  color: #666666;
}

#all-posts-main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: -1;
}

#all-posts-page {
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-posts-container {
  width: 396px;
  margin: 30px;
}

.guest-landing-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

.register-login-container {
  background-image: url("https://i.imgur.com/mloiE0H.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 585px;
  height: 727px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

@media screen and (max-width: 320px) {
  .register-login-container {
    background-image: url("https://i.imgur.com/oXhcLjw.png");
    width: 320px;
    height: 615px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
}

#LoginForm {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.container {
  background: inherit;
  text-align: center;
  color: #666666;
  margin-top: 150px;
  font-family: Nunito, Roboto, Arial, sans-serif;
}

.container > header {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 auto 60px auto;
  position: relative;
  height: 25px;
  width: 250px;
  overflow: hidden;
}

.header-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.header-headings > span {
  margin: 3px 0;
}

.header-headings.sign-in {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.header-headings.sign-up {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

.header-headings.forgot {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 350px;
}

.headline {
  font-size: 40px;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 30px;
}

@media screen and (max-width: 320px) {
  .options {
    width: 100%;
  }
  .headline {
    font-size: 23px;
    margin-bottom: 20px;
  }
}

.options > li {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.options > li:hover {
  opacity: 1;
}

.options > li.active {
  opacity: 1;
}

.options > li:nth-of-type(2) {
  margin-left: 25px;
}

.options > li:last-of-type {
  margin-left: auto;
}

.account-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 30px;
}

.account-form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.account-form-fields.sign-in {
  max-height: 123px;
}

.account-form-fields.sign-up {
  max-height: 250px;
}

.account-form-fields.forgot {
  max-height: 61px;
}

.account-form-fields > input {
  border: 0;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 1rem;
  font-family: Nunito, sans-serif;
  color: #000;
  border-radius: 5px;
}

.account-form-fields > input::-webkit-input-placeholder {
  color: #aaa;
}

.account-form-fields > input:-ms-input-placeholder {
  color: #aaa;
}

.account-form-fields > input::-ms-input-placeholder {
  color: #aaa;
}

.account-form-fields > input::placeholder {
  color: #aaa;
}

.account-form-fields > input::-webkit-input-placeholder {
  color: #aaa;
}

.account-form-fields > input:-ms-input-placeholder {
  color: #aaa;
}

.account-form-fields > input:focus {
  outline: none;
}

.btn-submit-form {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-family: Nunito, sans-serif;
  background: #F4C271;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-submit-form:hover {
  background: #F4C271;
}

.btn-submit-form:active, .btn-submit-form:focus {
  outline: none;
  background: #2E5E69;
}

.mini-dog-container {
  width: 400px;
  height: 600px;
  border: 2px solid #666666;
  background-color: #EAEAEA;
}

.mini-dog-container-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mini-dog-info {
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
}

.dog-name {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
  line-height: 3rem;
}

.dog-gender {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  line-height: 2rem;
}

.dog-fixed {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  line-height: 2rem;
}

.nav-bar-container {
  background-size: 100vw;
  background-color: #54B7C4;
  color: white;
  text-align: center;
  width: 100vw;
  height: 13vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: #2E5E69 solid 3px;
}

.nav-bar-container :hover {
  color: #F4C271;
  cursor: pointer;
}

.logo-type {
  text-decoration: none;
  color: white;
  font-size: 35px;
  margin-left: 0px;
  padding: 0px;
}

#logo-box {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#pounds-around-town {
  padding-top: 20px;
}

.link {
  text-decoration: none;
  color: white;
}

.link :hover {
  color: #F4C271;
  cursor: pointer;
}

#site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 0px;
  margin-right: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#site-nav :hover {
  color: #F4C271;
  cursor: pointer;
}

#site-nav li {
  list-style: none;
  margin-left: 35px;
  font-size: 25px;
  color: white;
}

#menu-text :hover {
  color: #F4C271;
}

#face_logo_w {
  max-width: 90px;
  max-height: 90px;
  float: left;
  margin-left: 40px;
  padding: 0px;
  margin-right: 5px;
}

.drop-down-menu, .drop-down-menu-open, .drop-down-menu-closed {
  width: 50vw;
  height: 20vh;
  position: fixed;
  right: 0px;
  top: 75px;
  background: grey;
  padding: 0px;
  margin: 0px;
}

.drop-down-menu-open {
  -webkit-animation: openMenu .5s forwards linear;
  animation: openMenu .5s forwards linear;
}

.drop-down-menu-closed {
  -webkit-animation: closeMenu .5s forwards linear;
  animation: closeMenu .5s forwards linear;
}

.drop-down-menu {
  display: none;
}

@-webkit-keyframes openMenu {
  0% {
    top: -1000px;
  }
  100% {
    top: 65px;
  }
}

@keyframes openMenu {
  0% {
    top: -1000px;
  }
  100% {
    top: 65px;
  }
}

@-webkit-keyframes closeMenu {
  0% {
    top: 80px;
  }
  100% {
    top: -1000px;
  }
}

@keyframes closeMenu {
  0% {
    top: 80px;
  }
  100% {
    top: -1000px;
  }
}

.responsive-menu {
  width: 40px;
  display: none;
  margin-top: 15px;
}

.responsive-menu:hover {
  width: 75px;
  height: 75px;
}

@media (max-width: 700px) {
  .responsive-menu {
    display: block;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
  }
  .menu-text {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  #face_logo_w {
    max-width: 45px;
    max-height: 45px;
    float: left;
    margin-left: 20px;
    padding: 0px;
    margin-right: 5px;
  }
  .logo-type {
    text-decoration: none;
    color: white;
    font-size: 23px;
    margin-left: 0px;
    padding: 0px;
  }
}
.dog-image {
  width: 396px;
  height: 400px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup-content {
  border: none;
  padding: 0px;
  background: none;
  width: 0;
  height: 0;
}

.dog-container {
  background-color: #EAEAEA;
  width: 75vw;
  height: 75vh;
  border: 5px solid #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dog-container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dog-container-content .full-dog-image {
  width: 98%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  border-right: solid 5px #666666;
  margin-right: 15px;
}

.dog-container-content .dog-info {
  margin-top: 15px;
  margin-right: 15px;
  line-height: 50px;
  font-size: 25px;
}

.dog-container-content .bio-chunk {
  line-height: 25px;
  margin-top: 12px;
  font-size: 16px;
}

.dog-container-content .bio-header {
  font-size: 25px;
}

.name-icon {
  width: 50px;
  margin-right: 15px;
}

.icon-and-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile-main {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: -1;
}

.profile-header {
  font-size: 50px;
  margin-top: 25px;
  color: #666666;
  text-align: center;
}

#profile-page {
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-posts-map {
  width: 396px;
  margin: 30px;
}
/*# sourceMappingURL=main.css.map */