@import url("https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Nunito, Roboto, Arial, sans-serif;
  background: #4D6FE5;
  height: 100vh;
}

#app {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.container {
  text-align: center;
  color: #fff;
  margin-top: 100px;
}

.container > header {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 auto 60px auto;
  position: relative;
  height: 25px;
  width: 250px;
  overflow: hidden;
}

.header-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.header-headings > span {
  margin: 3px 0;
}

.header-headings.sign-in {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.header-headings.sign-up {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

.header-headings.forgot {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 350px;
}

@media screen and (max-width: 380px) {
  .options {
    width: 100%;
  }
}

.options > li {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.options > li:hover {
  opacity: 1;
}

.options > li.active {
  opacity: 1;
}

.options > li:nth-of-type(2) {
  margin-left: 25px;
}

.options > li:last-of-type {
  margin-left: auto;
}

.account-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 30px;
}

.account-form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.account-form-fields.sign-in {
  max-height: 123px;
}

.account-form-fields.sign-up {
  max-height: 250px;
}

.account-form-fields.forgot {
  max-height: 61px;
}

.account-form-fields > input {
  border: 0;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 1rem;
  font-family: Nunito, sans-serif;
  color: #000;
  border-radius: 5px;
}

.account-form-fields > input::-webkit-input-placeholder {
  color: #aaa;
}

.account-form-fields > input:-ms-input-placeholder {
  color: #aaa;
}

.account-form-fields > input::-ms-input-placeholder {
  color: #aaa;
}

.account-form-fields > input::placeholder {
  color: #aaa;
}

.account-form-fields > input::-webkit-input-placeholder {
  color: #aaa;
}

.account-form-fields > input:-ms-input-placeholder {
  color: #aaa;
}

.account-form-fields > input:focus {
  outline: none;
}

.btn-submit-form {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-family: Nunito, sans-serif;
  background: #6381e8;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-submit-form:hover {
  background: #4468e4;
}

.btn-submit-form:active, .btn-submit-form:focus {
  outline: none;
  background: #2e56e0;
}

header {
  background-color: #2d2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 65px;
  width: 100vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  text-decoration: none;
}

#site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#site-nav li {
  list-style: none;
  margin-left: 10px;
  font-size: 25px;
  color: white;
}

#logo {
  color: white;
  font-size: larger;
}

.drop-down-menu, .drop-down-menu-open, .drop-down-menu-closed {
  width: 50vw;
  height: 20vh;
  position: fixed;
  right: 0px;
  top: 75px;
  background: grey;
  -webkit-box-align: right;
  -ms-flex-align: right;
  align-items: right;
  padding: 0px;
  margin: 0px;
}

.drop-down-menu-open {
  -webkit-animation: openMenu .5s forwards linear;
  animation: openMenu .5s forwards linear;
}

.drop-down-menu-closed {
  -webkit-animation: closeMenu .5s forwards linear;
  animation: closeMenu .5s forwards linear;
}

.drop-down-menu {
  display: none;
}

@-webkit-keyframes openMenu {
  0% {
    top: -1000px;
  }
  100% {
    top: 65px;
  }
}

@keyframes openMenu {
  0% {
    top: -1000px;
  }
  100% {
    top: 65px;
  }
}

@-webkit-keyframes closeMenu {
  0% {
    top: 80px;
  }
  100% {
    top: -1000px;
  }
}

@keyframes closeMenu {
  0% {
    top: 80px;
  }
  100% {
    top: -1000px;
  }
}

.responsive-menu {
  width: 40px;
  display: none;
  margin-top: 15px;
}

.responsive-menu:hover {
  width: 75px;
  height: 75px;
}

@media (max-width: 700px) {
  .responsive-menu {
    display: block;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
  }
  .menu-text {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */