.edit-post-button-1 {
    background-color: #F4C271;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin-bottom: 50px;
    margin-left: 120px;
}


.edit-buttons {
    background-color: #F4C271;
    color: white;
    margin: 7px;
}