.guest-landing-container {
    background-image: url("https://i.imgur.com/sjinFJb.png");
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.register-login-container {
    background-image: url("https://i.imgur.com/mloiE0H.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width : 585px;
    height : 727px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

@media screen and (max-width: 320px) {
    .register-login-container {
      background-image: url("https://i.imgur.com/oXhcLjw.png");
        width: 320px;
      height: 615px;
    }
  }