#puppy-div {
    // border: 5px solid greenyellow;
    background-color: lightgrey;
    width: 51vw;
}

.dog-image {
    width: 396px;
    height: 400px;
    margin-bottom: 20px;
    object-fit: cover;
}